USE [master]
GO
/****** Object:  Database [OpenBreweryDB]    Script Date: 2/25/2022 1:39:23 PM ******/
CREATE DATABASE [OpenBreweryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpenBreweryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OpenBreweryDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpenBreweryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OpenBreweryDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpenBreweryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpenBreweryDB]
GO
/****** Object:  Table [dbo].[breweries]    Script Date: 2/25/2022 1:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breweries](
	[obdb_id] [nvarchar](200) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[brewery_type] [nvarchar](200) NOT NULL,
	[street] [nvarchar](200) NULL,
	[address_2] [nvarchar](200) NULL,
	[address_3] [nvarchar](200) NULL,
	[city] [nvarchar](200) NOT NULL,
	[state] [nvarchar](200) NULL,
	[county_province] [nvarchar](200) NULL,
	[postal_code] [nvarchar](200) NOT NULL,
	[website_url] [nvarchar](200) NULL,
	[phone] [nvarchar](200) NULL,
	[country] [nvarchar](200) NOT NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
	[tags] [nvarchar](1) NULL,
 CONSTRAINT [PK_breweries] PRIMARY KEY CLUSTERED 
(
	[obdb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
